.ProgressBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 0 48px;
    margin: 0;
    background: #f3f3f3;

    &-ProgressLine {
        position: relative;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #e3e3e3;
    }

    &-ProgressLineActive {
        position: absolute;
        inset-inline-start: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--primary-base-color);
        animation: progressBar 1500ms ease-in-out;
        animation-fill-mode: both;
    }

    &-ProgressStage {
        display: flex;
        position: relative;
        line-height: 30px;
        justify-content: center;
        align-items: center;
        width: 30px;
        font-size: 15px;
        height: 30px;
        border-radius: 15px;
        background: #e3e3e3;
        color: #adadad;
        margin: 0 8px;
    }


    &-ProgressContent {
        position: relative;
        &_isActive {
            .ProgressBar-ProgressStage {
                background: var(--primary-base-color);
                color: white;
                fill: white;
                animation: progressStage 1500ms ease-in-out;
                svg {
                    width: 15px;
                }
            }
            .ProgressBar-Title {
                color: black;
                animation: progressTitle 1500ms ease-in-out;
            }
        }
    }

    &-Title {
        position: absolute;
        font-family: inherit;
        font-weight: bold;
        inset-block-start: 34px;
        text-align: center;
        width: 150px;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #adadad;
    }


    @keyframes progressStage {
        0% {
            background: #e3e3e3;
        }

        100% {
            background: #e3e3e3;
        }
    }

    @keyframes progressTitle {
        0% {
            color: #adadad;
        }

        100% {
            color: black;
        }
    }

    @keyframes progressBarCenter {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes progressBar {
        0% {
            width: 0;
        }
        
        100% {
            width: 100%;
        }
    }
}
